spring:
  application:
    name: profile-service
  neo4j:
    uri: ${NEO4J_URI:bolt://localhost:7687}
    authentication:
      username: ${NEO4J_USERNAME:neo4j}
      password: ${NEO4J_PASSWORD:neo4j-admin}
  data:
    elasticsearch:
      repositories:
        enabled: true
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6376}
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USERNAME:myuser}
    password: ${RABBIT_PASSWORD:secret}
  cloud:
    compatibility-verifier:
      enabled: false

server:
  port: 8001

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    metadata-map:
      version: v0.9
      region: eu-central

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /profiles/actuator
      exposure:
        include: health, info
    path-mapping:
      health: /health

springdoc:
  api-docs:
    path: /profiles/v3/api-docs
  swagger-ui:
    path: /profiles/swagger-ui.html