spring:
  application:
    name: stories-service

  cloud:
    compatibility-verifier:
      enabled: false

  data:
    mongodb:
      uri: mongodb://${MONGO_USERNAME:admin}:${MONGO_PASSWORD:admin}@${MONGO_HOST:localhost}:${MONGO_PORT:27017}/storiesDB?authSource=admin
      uuid-representation: standard
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USERNAME:myuser}
    password: ${RABBIT_SECRET:secret}

feign:
  circuitbreaker:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health, info
  health:
    circuitbreakers:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      stories-service:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 40
        slowCallRateThreshold: 75
        slowCallDurationThreshold: 2s
        minimumNumberOfCalls: 5
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        registerHealthIndicator: true
        ignoreExceptions:
          - com.olelllka.stories_service.rest.exception.NotFoundException
          - com.olelllka.stories_service.rest.exception.AuthException

server:
  port: 8002

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    fetchRegistry: true
    registerWithEureka: true
  instance:
    preferIpAddress: true
    metadata-map:
      version: v0.9
      region: eu-central

springdoc:
  api-docs:
    path: /stories/v3/api-docs
  swagger-ui:
    path: /stories/swagger-ui.html