services:
  app:
    build: .
    image: 1olelllka/linkup-postsservice
    container_name: posts_server
    ports:
      - "8000:8000"
    networks:
      - linkup-net
    environment:
      - EUREKA_URI=http://eureka:8761/eureka
      - POSTGRES_HOST=host.docker.internal
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - RABBIT_HOST=rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USERNAME=${RABBIT_USERNAME}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - REDIS_URI=redis://host.docker.internal:6373/0
      - PROFILE_URI=http://host.docker.internal:8001/profiles
      - JWT_SECRET=${JWT_SECRET}
    command: python manage.py runserver 0.0.0.0:8000
  consumer:
    build: .
    image: 1olelllka/linkup-postsconsumer
    container_name: posts_consumer
    networks:
      - linkup-net
    environment:
      - EUREKA_URI=http://eureka:8761/eureka
      - POSTGRES_HOST=host.docker.internal
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - RABBIT_HOST=rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USERNAME=${RABBIT_USERNAME}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
    command: python3 manage.py start_consumer
  database:
    container_name: posts_postgres
    image: postgres:16.4
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-posts}
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
  cache:
    container_name: posts_redis
    image: redis:7.2.6
    ports:
      - "6373:6379"
    volumes:
      - "redis_data:/data"

volumes:
  postgres_data:
  redis_data:

networks:
  linkup-net:
    external: true