[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
django-redis = "*"
pika = "*"
py-eureka-client = "*"
requests = "*"
wiremock = "*"
testcontainers = "*"
pytest-django = "*"
pyjwt = "*"
redis = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.11"
