

services:
  app:
    build: .
    image: 1olelllka/linkup-storiesservice
    container_name: stories_server
    ports:
      - "8002:8002"
    networks:
      - linkup-net
    environment:
      - EUREKA_URI=http://eureka:8761/eureka
      - REDIS_HOST=host.docker.internal
      - REDIS_PORT=6379
      - RABBIT_HOST=rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USERNAME=${RABBIT_USERNAME}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - PROFILE_HOST=host.docker.internal
      - MONGO_HOST=host.docker.internal
      - MONGO_PORT=27017
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
  database:
    container_name: mongodb
    image: mongo:8.0
    ports:
    - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD:-admin}
    volumes:
      - "mongo_data:/data/db"
  cache:
    container_name: stories_redis
    image: redis:7.2.6
    ports:
      - "6379:6379"
    volumes:
      - "redis_data:/data"

volumes:
  mongo_data:
  redis_data:

networks:
  linkup-net:
    external: true