
services:
  app:
    build: .
    image: 1olelllka/linkup-chatservice
    container_name: chat_server
    ports:
      - "8005:8005"
    networks:
      - linkup-net
    environment:
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_HOST=host.docker.internal
      - MONGO_PORT=27015
      - RABBIT_HOST=rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USERNAME=${RABBIT_USERNAME}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - EUREKA_URI=http://eureka:8761/eureka
      - PROFILE_HOST=host.docker.internal
      - JWT_SECRET=${JWT_SECRET}
  database:
    container_name: chat_mongo
    image: mongo:8.0
    ports:
      - "27015:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD:-admin}
    volumes:
      - "mongo_data:/data/db"

volumes:
  mongo_data:

networks:
  linkup-net:
    external: true