
services:
  app:
    build: .
    image: 1olelllka/linkup-feedservice
    container_name: feed_server
    ports:
      - "8004:8004"
    networks:
      - linkup-net
    environment:
      - EUREKA_URI=http://eureka:8761/eureka
      - REDIS_HOST=host.docker.internal
      - REDIS_PORT=6377
      - RABBIT_HOST=rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USERNAME=${RABBIT_USERNAME}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - POSTS_HOST=host.docker.internal
      - PROFILE_HOST=host.docker.internal
      - JWT_SECRET=${JWT_SECRET}
  redis:
    container_name: feed_redis
    image: redis:7.2.6
    ports:
      - "6377:6379"
    volumes:
      - "redis_data:/data"

volumes:
  redis_data:

networks:
  linkup-net:
    external: true