
services:
  app:
    build: .
    image: 1olelllka/linkup-authservice
    container_name: auth_server
    networks:
      - linkup-net
    ports:
      - "8010:8010"
    environment:
      - EUREKA_URI=http://eureka:8761/eureka
      - REDIS_HOST=host.docker.internal
      - REDIS_PORT=6375
      - MONGO_HOST=host.docker.internal
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_PORT=27014
      - RABBIT_HOST=rabbitmq
      - RABBIT_PORT=5672
      - RABBIT_USERNAME=${RABBIT_USERNAME}
      - RABBIT_PASSWORD=${RABBIT_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
  database:
    container_name: auth_mongo
    image: mongo:8.0
    ports:
      - 27014:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD:-admin}
    volumes:
      - "mongo_data:/data/db"
  cache:
    container_name: auth_redis
    image: redis:7.2.6
    ports:
      - 6375:6379
    volumes:
      - "redis_data:/data"
volumes:
  mongo_data:
  redis_data:

networks:
  linkup-net:
    external: true